.FormaSection h2{
    color:#FF5151;
    font-size: 54px;
    font-weight: 500;
    margin-bottom: 10px;
}

.FormaSection p{
    margin: 0;
    max-width: 40rem;
}

.FormaSection{
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0;
}

.FormaSection form{
    max-width: 30rem;
    margin-top: 30px;
    width: 100%;
}

.textarea{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.textarea label{
    color:#353535;
    font-size: 18px;
    margin-bottom: 5px;
}

.textarea textarea.isFilled{
    border:2px solid #825b5b;
    border-radius: 11px;
    color: #353535;
}   

.textarea textarea{
    font-family: 'Montserrat';
    font-weight: 500;
    padding: 10px;
    border-radius: 11px;
    font-size: 18px;
    border:1px solid #c1c1c1;
    background-color: #FFF0F0;
    color:#353535
}

.FormaSection button{
    width: 100%;
}

.textarea textarea:focus{
    border:1px solid #97d5ff;
    outline: none;
    background-color: #eff7ff;
}

.labelContainer{
    margin-top: 40px;
}

.label{
    margin-bottom: 5px;
    font-size: 18px;
    color:#353535;
}

.contact{
    text-align: center;
    font-size: 18px;
}

.contact p:nth-child(2n-1){
    margin-top: 40px;
    margin-bottom: 7px;
    color:#FF5151;
    font-weight: 600;
}

.anim{
    width: 150px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.success{
    display: flex;
    align-items: center;
    flex-direction: column
}


@media(max-width: 600px){
    .FormaSection{
        padding:100px 20px;
        width: 100%;
    }
    .FormaSection h2{
        font-size: 40px;
        /* text-align: center; */
    }
    .FormaSection button{
        margin-top:15px;
    }
}